/*Center all elements and add background image*/
body{
    text-align: center;
    background: url(images/painted_bg.jpg) center center no-repeat fixed;
    background-size: cover;
}

/*header*/
#header{
    color: #fff;
    background: linear-gradient(white,rgba(67,169,228,0.9));
    height: 80px;
    width: 500px;
    margin: 10px auto;
    font-size: 3em;
    line-height: 80px;
}
/*input container*/
.inputContainer{
    width: 200px;
    margin: 0 auto;
}

/*color input, line thickness, slider*/
.input{
    height: 30px;
    font-size: 1.3em;
}

#slider{
    margin: 10px auto;
}

#circle{
    background: black;
    height: 3px;
    width: 3px;
    border-radius: 50%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#thicknessInput{
    position: relative;
}

/*Canvas Container*/
#container{
    width: 500px;
    height: 400px;
    border: 1px solid rgb(122,174,229,0.5);
    margin: 10px auto;
}

/*input container*/
.inputContainer2{
    width: 399px;
    margin: 0 auto;
}

/*erase save and reset buttons*/
.input2{
    width: 133px;
    color: #5BB4E7;
    font-size: 1.3em;
    float: left;
}

.button{
    background: #fff;
    height: 50px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0 4px rgba(0,0,0,0.2);
    position: relative;
}

.button:hover{
    color: white;
    background: linear-gradient(white,rgba(67,169,228,0.9));
}

.button:active{
    top: 4px;
}

#paint{
    background: #fff;
    cursor: crosshair;
}

.eraseMode{
    background: red;
    color: white;
}




















